html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/*===================Main===================*/

.Main {
  height: 100vh;
}

.map-container {
  width: 100%;
  height: 95vh;
}

#map {
  height: 100%;
}

/*===================Menu====================*/

.App-header {
  background-color: #252831;
  width:100%;
  height: 5vh;
  display: flex;
  align-items: center;
}

.drawer-control {
  padding-left: 11px;
  width: 33px;
  fill: #02b3e4;
}

#menu {
  z-index: 10;
  width: 252px;
  height: 95vh;
  position: absolute;
  background-color: black;
  color: #b0b5b7;
  transform: translate(-252px,0);
  transition: transform 0.3s ease;
}

#menu.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.menu-title {
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 0 5px 0; 
}

.filter-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#filter-location {
  width: 70%;
  height: 25px;
  padding-left: 3px;
}

.filter {
  height: 25px;
  width: 30%;
  background-color: #2f85d4;
  color: aliceblue;
}

.filter:hover {
  background-color: #137adb;
}

.icon {
  height: 56%;
  float: left;
  margin-left: 7px;
}

input,
button {
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}

.list {
  list-style-type: none;
  text-align: left;
  padding-left: 15px;
  line-height: 2.9;
  font-size: 16px;
}

.list-item a:hover {
  color: white;
}

.list-item a {
  color: #b0b5b7;
  text-decoration: none;
}

/*==================Info Window Header=================*/

#info-window {
  line-height: 1.5;
}

.info-window-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.header-title {
  width: 84%;
  margin-top: 12px;
}

.header-title h3 {
  margin: 8px 0 2px 9px;
  font-size: 16px;
  /* order: -1 */
  /* border-bottom: solid 20px #dcd4df;
  padding: 30px 10px;
  margin: 20px 0 40px;
  display: inline-block;  */
}

.close {
    width: 16%;
    margin-top: 2px;
}

.close-search {
  width: 22px;
  height: 22px;
  /* background: #dbdbdb; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  float: right;
  margin-top: 8px;
  margin-right: 9px;
}

.close-search:hover {
  /*background:#d9d9d9;*/
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0.5px rgba(0,0,0,0.75);
}

.close-svg {
  height: 9px;
  margin-left: 7px;
  margin-bottom: 2px;
}

hr {
  width: 100%;
  margin-top: 0;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 1px;
}

.wiki-source {
  margin: 1px 0 15px 11px;
  font-size: 13px;
}

/*================Info Window content=============*/
/* .image-countainer {
  width: 240px;
  height: 400px;
} */

.image {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  /* border: 1px solid; */
  border-radius: 50px 0 50px 0;
  /* height: 200px; */

}

#info-window-wrapper {
  overflow: auto;
  position: relative;
  /* margin-bottom: -20px; */
  /* border: solid 1px; */
  /* height: 200px; */
  /* width: 245px; */
  /* margin-left: 2px; */
}

#info-window {
  bottom: 0;
  z-index: 10;
  width: 252px;
  height: 47%;
  overflow: auto;
  background: #dbdbdb;
  color: black;
  position: absolute;
  visibility: hidden;
  box-shadow: 0px 0px 4px 0.5px inset rgba(0,0,0,0.75);
  /* padding-bottom: 22px; to naprawiło nienachodzenie tekstu na footer */
}

#info-window.hide {
  transform: translate(-252px,0);
  transition: transform 0.3s ease; 
} 

#info-window-wrapper b {
  font-weight: normal;
}

#info-window-wrapper h4 {
  margin: 14px 14px 5px;
  color: black;
}

#info-window-wrapper p {
  /* text-align: justify; */
  margin: 8px 12px 0 12px;
  display: block; 
  float:right;
  overflow: hidden;
  font-size: 15px;
  /* max-height: 400px; */
}

.multilineEllipseText {
     /* max-height: 400px;  */
    /* color: black; */
    /* width: 520px; */
}

article a {
  text-decoration: none;
  color: #2f85d7;
}

/* footer {
  background-color: #252831;
  color: #b0b5b7;
  text-align: center;
  font-size: 13px;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 20px;
} */

/*========================Media Query========================*/
/* @media screen and (min-width: 420px) {
    .image {
        margin-left: auto;
        margin-right: auto;
    }
} */

@media screen and (max-width: 545px) {

  .close-search {
    margin-top: 7px; 
  } 

  #info-window {
    width: 100%;
    height: 100%;
    line-height: 1.4;
    font-size: 16px;
    padding-bottom: 0;
  }

  .wiki-source {
    margin-left: 11px;
  }
  
  .header-title h3 {
    max-width: 96%;
  } 

  .close-svg {
    margin-left: 5px;
    margin-top: 5px;
  }
}


@media screen and (min-height: 1000px) {

  #info-window {
    /* overflow: auto; */
    /* position: absolute;
    bottom: 0; */
    /* z-index: 10; */
  }
  /* #menu, .map-container {
    height: 93vh;
  }
  .App-header {
    height: 7vh;
  }    */
}


@media screen and (min-height: 1200px) {
  #info-window {
    height: 58%;
  }
}
